/** overwrite attributes **/
.quote{
	margin-bottom: 0em;
	text-indent: 1em;

}

.ref{
	margin-bottom:3em;
	padding-right:2em;
}



/** layout **/

.back_grid {
	display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 3700px 1500px;
  grid-template-areas:
    " background1 "
		" background2 ";
}

.background1 {
  grid-area: background1;
	background-image: url("image/bg6_1.png");
}

.background2 {
	grid-area: background2;
	background-image: url("image/bg6_2.png");
}

.text_grid {
  display: grid;
  grid-template-columns: 1fr 920px 1fr;
  grid-template-rows: 1200px 1fr;
  grid-template-areas:
	" left text right"
	" left text1 right";
  align-items: stretch;
}

.text_grid2 {
  display: grid;
  grid-template-columns: 1fr 920px 1fr;
  grid-template-rows: 1fr;
  grid-template-areas:
  " left text right";
  align-items: stretch;
}


.left_wing{
  grid-area: left;
}

.right_wing{
  grid-area: right;
}

.logo{
	grid-area:text;
	text-align:center;
	letter-spacing: 1em;
	line-height: 150px;
	padding-top:200px;
	color: #ffffff;
}

.introduction{
	letter-spacing: normal;
	line-height: 60px;
	padding-top: 50px;
	font-size: 32px;
	font-style: italic;

}

.text{
  grid-area: text;
	text-align:justify;
	color: #FFFFFF;
	font-size: 24px;
	line-height: 1.5em;
}

.text1{
  grid-area: text1;
	text-align:justify;
	color: #FFFFFF;
	font-size: 24px;
	line-height: 1.5em;
}

.text2{
  grid-area: text;
	text-align: justify;
	color: #FFFFFF;
	font-size: 32px;
	line-height: 1.5em;
	padding-top: 750px;
}

.ending{
	font-size: 32px;
	text-align: center;
}

.my_text{
	margin-top: 100px;
	text-indent: 3em;
	color: #ffffff;
}

.movie{
	padding-left: 200px;
	padding-right: 200px;
}

.hl {
	color: #ffffff;
	font-weight: 600;
}

.hl2{
	color: #000000;
	font-weight: 600;
}

.answer{
	padding-top:100px;
}
.writing{
	color: #CCCCCC;
	font-size: 49px;
  font-family: 'HeirofLightBold', 'serif';
	text-align: justify;
}

.textarea{
		wrap: soft;
}

textarea{
	resize:none;
	wrap: soft;
	width:100%;
	height:100%;
}

.form{
	width:920px;
	height:300px;
	background:url('input_bg.jpg') no-repeat;
	border: solid 2px #CCCCCC;
	font-size:48px;
	font-family: 'HeirofLightBold', 'serif';
	color:#CCCCCC;
}


/** special effect **/


.button_box{
	grid-area: button_box;
	padding-top:540px;
	padding-left: 400px;
	padding-right: 400px;
	align-items: stretch;
}

#button{
	background-image: url("image/human.png");
	width: 160px;
	height: 200px;
}

a:link {
	color: inherit; text-decoration: none;
}
a:visited {
	color: inherit; text-decoration: none;
}
a:hover {
	color: lightGrey; text-decoration: none;
}
