/** overwrite attributes **/
.quote{
	margin-bottom: 0em;
	text-indent: 1em;

}

.ref{
	margin-bottom:3em;
	padding-right:2em;
}



/** layout **/

.back_grid {
	display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 600px 700px 870px 700px 930px 700px 1400px 700px 650px;
  grid-template-areas:
    " background1 "
		" background2 "
		" background3 "
		" background4 "
		" background5 "
		" background6 "
		" background7 "
		" background8 "
		" background9 ";
		background-image: url("image/bg5_1.png");
		background-repeat: repeat;
}

.background1 {
  grid-area: background1;

}

.background2 {
	grid-area: background2;
	background-image: url("image/infR.png");
	background-size: 1214px 696px;

}

.background3 {
	grid-area: background3;
}

.background4 {
	grid-area: background4;
	background-image: url("image/infG.png");
	background-size: 1214px 696px;
}

.background5 {
	grid-area: background5;
}

.background6 {
	grid-area: background6;
	background-image: url("image/infB.png");
	background-size: 1214px 696px;
}

.background7 {
	grid-area: background7;
}

.background8 {
	grid-area: background8;
	background-image: url("image/inf.png");
}

.background9 {
	grid-area: background9;
}

.text_grid {
  display: grid;
  grid-template-columns: 1fr 920px 1fr;
  grid-template-rows: 1fr;
  grid-template-areas:
  " left text right";
  align-items: stretch;
	margin-top:50px;
}

.left_wing{
  grid-area: left;
}

.right_wing{
  grid-area: right;
}

.logo{
	grid-area:text;
	text-align:center;
	letter-spacing: 1em;
	line-height: 150px;
	padding-top:100px;
	color: #ffffff;
}


.question{
	grid-area:text;
	text-align:justify;
	color: #ffffff;
	font-size: 28px;
}

.hint{
	margin-top:50px;
	font-style: italic;
}

.introduction{
	letter-spacing: normal;
	line-height: 60px;
	padding-top: 50px;
	font-size: 32px;
	font-style: italic;

}


.text1{
  grid-area: text;
	text-align:justify;
	color: #FFB1B0;
	font-size: 24px;
	line-height: 1.5em;
}

.text2{
  grid-area: text;
	text-align:justify;
	color: #B4F0A7;
	font-size: 24px;
	line-height: 1.5em;
}

.text3{
  grid-area: text;
	text-align:justify;
	color: #A9D1F7;
	font-size: 24px;
	line-height: 1.5em;
}

.text4{
  grid-area: text;
	text-align:justify;
	color: #A9D1F7;
	font-size: 24px;
	line-height: 1.5em;
}


.no_text{
	grid-area: text ;
}

.my_text{
	margin-top: 100px;
	text-indent: 3em;
	color: #ffffff;
}

.hl {
	color: #ffffff;
	font-weight: 600;
}

.hl2{
	color: #000000;
	font-weight: 600;
}


/** special effect **/


.button_box{
	grid-area: button_box;
	padding-top:540px;
	padding-left: 400px;
	padding-right: 400px;
	align-items: stretch;
}

#button{
	background-image: url("image/human.png");
	width: 160px;
	height: 200px;
}

a:link {
	color: inherit; text-decoration: none;
}
a:visited {
	color: inherit; text-decoration: none;
}
a:hover {
	color: lightGrey; text-decoration: none;
}
